@model System.Collections.Generic.IEnumerable<string>

@{
    ViewBag.Title = "Norton Developer - Client Credentials";
}
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<br />
<span>
    <a href="@Url.Action("New", "ClientCredentials")" class="btn btn-warning">
        New Client
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</span>

<table class="table">
    <thead>
        <tr>
            <th>ClientId</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client</td>

                <td>
                    <span>
                        <a href="@Url.Action("Manage", "ClientCredentials", new { id = client })" class="btn btn-warning">
                            Manage
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>