@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@model IEnumerable<System.Security.Claims.Claim>

<p>Use this area to provide additional information.</p>
@foreach (var claim in Model)
{
    <div>
        @claim.Type
        @claim.Value
    </div>
}