
@model CustomClientCredentialHost.Areas.Admin.Models.AspNetIdentityPageRecord
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>eMail</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    <span>
                        <a href="@Url.Action("Manage", "Home", new { id = user.Id,email = user.Email })" class="btn btn-warning">
                            Manage
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>